#nav ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

li a, .dropbtn {
    display: vertical-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
body {
	background-color: SkyBlue;
}
 
h1 {
	color: DarkTeal;
	font-family: Georgia;
	z-index:10;
}
 
h2 {
	color: rgba(3, 101, 100, 0.75);
}

@keyframes pics {
    0%   {background-color:rgba(23, 58, 93, 0.4); left:0px; top:0px;}
    25%  {background-color:rgba(35, 58, 82, 0.4); left:200px; top:0px;}
    50%  {background-color:rgba(19, 33, 46, 0.4); left:200px; top:200px;}
    75%  {background-color:rgba(23, 38, 53, 0.4); left:0px; top:200px;}
    100% {background-color:rgba(12, 51, 89, 0.4); left:0px; top:0px;}
}

#rosee {
	width: 300px;
    height: 400px;
    max-width: 100%;
    height: auto;
    }
#rose  {
    position: relative;
    background-color: rgba(2, 93, 140, 0.4);
    animation-name: pics;
    animation-duration: 4s;
    color: #0C3359;
}
